# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor/IDE
.idea/
.vscode/*
!.vscode/tasks.json

__pycache__/
*.pyc
*.pyo
.mako-*
.mako_modules
.jinja2_modules

*.pb.go
_generated/
/tools/bin
/build
/src/component/config/generate_config

/src/lobbysvr/app/*
!/src/lobbysvr/app/register_modules.go
/src/lobbysvr/rpc/lobbyclientservice/*
/src/component/db/*.go
*.log
/src/robot/data/rpc_handle.go

# ignore git-lfs auto gen hooks
script/hooks/post-checkout
script/hooks/post-commit
script/hooks/post-merge
script/hooks/pre-push

# task file sum cache
.task
