{{- define "libapp.secret.tpl" -}}
{{- if .Values.persistence }}
{{- with $cos := .Values.persistence.cos }}
{{- if $cos.enabled }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "libapp.fullname" $ }}-cos-token
  namespace: {{ $.Release.Namespace }}
data:
  # Note: The value must be encoded by base64.
  SecretId: {{ $cos.secretId | b64enc | quote}}
  SecretKey: {{ $cos.secretKey | b64enc | quote}}
{{- end }}
{{- end }}
{{- end }}
{{- end -}}
{{- define "libapp.secret" -}}
{{- template "libapp.util.merge" (append . "libapp.secret.tpl") -}}
{{- end -}}
